
$white: #fff;
$blue: #6bbcec;
$black: #000;
$dark-blue: #373a39;
$light-blue: #EBF3F5;
$light-gray: #e8e8e8;


$accent-color: $blue;
$main-text-color: $dark-blue;
$main-bg-color: $white;
$bg-color-blue: $light-blue;
$bg-color-gray: $light-gray;
$playfairdisplay: 500 40px/50px 'Playfair Display';